src/conf/xml-resources/web-service-references/TaskBrokerWebService/wsdl/ec2-54-228-104-219.eu-west-1.compute.amazonaws.com_8080/TaskBrokerWebService/TaskBrokerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/" name="TaskBrokerWebService">
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" wsu:Id="TaskBrokerWebServicePortBindingPolicy">
<sp:AsymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:InitiatorToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:InitiatorToken>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:RecipientToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp:Policy>
<sp:RequireIssuerSerialReference/>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:RecipientToken>
</wsp:Policy>
</sp:AsymmetricBinding>
<sp:Wss10>
<wsp:Policy>
<sp:MustSupportRefIssuerSerial/>
</wsp:Policy>
</sp:Wss10>


<wsam:Addressing/>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="TaskBrokerWebServicePortBinding_registerUsers_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="TaskBrokerWebServicePortBinding_registerUsers_Output_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/" schemaLocation="http://ec2-54-228-104-219.eu-west-1.compute.amazonaws.com:8080/TaskBrokerWebService/TaskBrokerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTask">
<part name="parameters" element="tns:getTask"/>
</message>
<message name="getTaskResponse">
<part name="parameters" element="tns:getTaskResponse"/>
</message>
<message name="TaskBrokerException">
<part name="fault" element="tns:TaskBrokerException"/>
</message>
<message name="getUsername">
<part name="parameters" element="tns:getUsername"/>
</message>
<message name="getUsernameResponse">
<part name="parameters" element="tns:getUsernameResponse"/>
</message>
<message name="collectTask">
<part name="parameters" element="tns:collectTask"/>
</message>
<message name="collectTaskResponse">
<part name="parameters" element="tns:collectTaskResponse"/>
</message>
<message name="listTasks">
<part name="parameters" element="tns:listTasks"/>
</message>
<message name="listTasksResponse">
<part name="parameters" element="tns:listTasksResponse"/>
</message>
<message name="registerUsers">
<part name="parameters" element="tns:registerUsers"/>
</message>
<message name="registerUsersResponse">
<part name="parameters" element="tns:registerUsersResponse"/>
</message>
<message name="abandonTask">
<part name="parameters" element="tns:abandonTask"/>
</message>
<message name="abandonTaskResponse">
<part name="parameters" element="tns:abandonTaskResponse"/>
</message>
<message name="completeTask">
<part name="parameters" element="tns:completeTask"/>
</message>
<message name="completeTaskResponse">
<part name="parameters" element="tns:completeTaskResponse"/>
</message>
<message name="allocateTask">
<part name="parameters" element="tns:allocateTask"/>
</message>
<message name="allocateTaskResponse">
<part name="parameters" element="tns:allocateTaskResponse"/>
</message>
<portType name="TaskBrokerWebService">
<operation name="getTask">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/getTaskRequest" message="tns:getTask"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/getTaskResponse" message="tns:getTaskResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/getTask/Fault/TaskBrokerException"/>
</operation>
<operation name="getUsername">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/getUsernameRequest" message="tns:getUsername"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/getUsernameResponse" message="tns:getUsernameResponse"/>
</operation>
<operation name="collectTask">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/collectTaskRequest" message="tns:collectTask"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/collectTaskResponse" message="tns:collectTaskResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/collectTask/Fault/TaskBrokerException"/>
</operation>
<operation name="listTasks">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/listTasksRequest" message="tns:listTasks"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/listTasksResponse" message="tns:listTasksResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/listTasks/Fault/TaskBrokerException"/>
</operation>
<operation name="registerUsers">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/registerUsersRequest" message="tns:registerUsers"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/registerUsersResponse" message="tns:registerUsersResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/registerUsers/Fault/TaskBrokerException"/>
</operation>
<operation name="abandonTask">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/abandonTaskRequest" message="tns:abandonTask"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/abandonTaskResponse" message="tns:abandonTaskResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/abandonTask/Fault/TaskBrokerException"/>
</operation>
<operation name="completeTask">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/completeTaskRequest" message="tns:completeTask"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/completeTaskResponse" message="tns:completeTaskResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/completeTask/Fault/TaskBrokerException"/>
</operation>
<operation name="allocateTask">
<input wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/allocateTaskRequest" message="tns:allocateTask"/>
<output wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/allocateTaskResponse" message="tns:allocateTaskResponse"/>
<fault message="tns:TaskBrokerException" name="TaskBrokerException" wsam:Action="http://ejb.taskBroker.webApps.ianw.inf.susx.ac.uk/TaskBrokerWebService/allocateTask/Fault/TaskBrokerException"/>
</operation>
</portType>
<binding name="TaskBrokerWebServicePortBinding" type="tns:TaskBrokerWebService">
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTask">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="getUsername">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="collectTask">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="listTasks">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="registerUsers">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="abandonTask">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="completeTask">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
<operation name="allocateTask">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#TaskBrokerWebServicePortBinding_registerUsers_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="TaskBrokerException">
<soap:fault name="TaskBrokerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="TaskBrokerWebService">
<port name="TaskBrokerWebServicePort" binding="tns:TaskBrokerWebServicePortBinding">
<soap:address location="http://ec2-54-228-104-219.eu-west-1.compute.amazonaws.com:8080/TaskBrokerWebService/TaskBrokerWebService"/>
</port>
</service>
</definitions>